@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Space+Grotesk:wght@700&display=swap");

:root {
  --blue: #7541cd;
  --lightpink: #b980c5;
  --darkpink: #8a43b6;
  --black: rgb(54, 50, 50);
}
body {
  font-family: "IBM Plex Sans", sans-serif !important;
  font-size: 24px !important;
  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  font-family: "Space Grotesk", sans-serif !important;
}

h1 {
  font-size: 3.4em !important;
}

.modal {
  height: auto;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
}
